<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/home.css">

</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Welcome to the ASD Prediction System</h1>
        </div>
        <p>Autism spectrum disorder (ASD) is a developmental disorder that affects communication and behavior. It typically appears in early childhood and can impact an individual throughout their life. ASD is characterized by a range of symptoms, including difficulty with social interactions, repetitive behaviors, and challenges with verbal and nonverbal communication.</p>
        <p>Early intervention is crucial for individuals with ASD as it can lead to improved outcomes and quality of life. By identifying ASD early, appropriate interventions and support can be provided to help individuals reach their full potential.</p>
        <p>This system provides questionnaires for different age groups to help predict ASD:</p>
        <ul>
            <li><a href="/toddler">Toddler <span>(0-3 years)</span></a></li>
            <li><a href="/child">Child <span>(4-11 years)</span></a></li>
            <li><a href="/adolescent">Adolescent <span>(11-18 years)</span></a></li>
            <li><a href="/adult">Adult <span>(18+ years)</span></a></li>
        </ul>
    </div>
</body>
</html>